* SereenTow */

.textLogin{
    position: absolute;
    left:32%;
    top: 35%;
    font-size: 22px;
    font-weight: 600;
    z-index: 1;
    color:#00000063;
    /* text-align: center; */
    margin-top: 60px;
}
.textHoch{
    position: absolute;
    left:23%;
    top: 40%;
    font-size: 22px;
    font-weight: 700;
    z-index: 1;
    color:#000000;
    /* text-align: center; */
    margin-top: 60px;
}

.rectangelBotton{
    cursor: pointer;
    position: absolute;
    left:2%;
    bottom:  10%;
    border-radius: 25px;
width:298px;
border: .5px #0000002B  solid;
height:55px;
background-color: #4CB6C3
}

.Email{
    position: absolute;
    left:2%;
    bottom:  36%;
 border-radius: 25px;
width:298px;
border: .5px #0000002B  solid;
height:55px;
padding: 10px;
background-color: #F8FBFA   

}

.password{
    position: absolute;
    left:2%;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    bottom:  26%;
    padding: 10px;
 border-radius: 25px;
width:298px;
border: .5px #0000002B  solid;
height:55px;
background-color: #F8FBFA   

}
.loginBotton{
    cursor: pointer;
    position: absolute;
    left:2%;
    text-align: center;
    color: white;
    bottom:  10%;
    border-radius: 25px;
width:298px;
border: .5px #0000002B  solid;
height:55px;
background-color: rgba(0,168,182,255) 
}
.Creat{
    position: absolute;
    left:12%;   bottom:  4%;
}

