.icon{
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 60px;
    font-size: 25px;
}
.profileimg{
    display: flex;
    position: absolute;
    left: 20px;
    top: 50px;
    width: 121px;
    height: 40px;
}
.Prof-img{
    border-radius: 50%;
    margin-right: 6px;
}
.textProf{
    width: 92px;
    height: 35px;
    margin-top: 2px;
    align-items: center;
}
.prof-Text{
    margin: 0px;
font-size: 12px;
color: gray;
}
.profName{
    margin: 2px;

font-size: 15px;
font-weight: 600;
}
.Result{
    width: 311Px;
    height: 52px;
    display: flex;
    position: absolute;
    border-bottom: .2px rgb(235, 225, 225) solid;

  top: 340px;
  left: 20px;
  /* border-bottom: .5px black solid; */
  padding: 0;

}
.ResultText{
    margin: 5px;
    font-family: Poppins;
    width: 103px;
    font-size: 21px;
    font-weight: 500;
    height: 33px;
}
.viewAll{
    text-align: end;
    width: 550px;
    height: 17px;
    font-size: 13px;
    margin: 7px;
    font-weight: 500;

}

.allUpdates{
    position: absolute;
    /* border: gray 1px solid; */
width:343px;
height: 223px;
top: 397px;
left: 5px;
padding: 0px, 0px, 16px, 0px;
/* gap: 16px; */

}
.ShowUpdat{
    width: 343px;
height: Hug (146px);
padding: 0px, 16px, 0px, 16px;
gap: 12px;

}
.texrupdat{
    display: flex;
    width: Fill (196px);
height: Hug (50px);
gap: 4px

}
.man-hold{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    
}
.updatDate{
    font-family: Body/Small;
    font-weight: 400;
    font-size: 12px;
}
.size{
    width:58px;
height: 20px;
gap: 8px;
border:1px solid;

}
.TextSize{
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
   margin-top: 2px;
}
.dots{
    margin: 15px;
    margin-top: 5px;
}
.Oneupdate{
    width: 311px;
height: (67px);
gap: 16px;
/* border: 1px solid; */
position: absolute;
top: 10px;
left: 10px;
border-bottom: .2px rgb(235, 225, 225) solid;

}
.secandupdate{
    width: 311px;
    height: (67px);
    position: absolute;
    top: 120px;
left: 10px;

border-top: .2px rgb(235, 225, 225) solid;
}
.ButtonView{
    width: 135px;
    cursor: pointer;
height: 28px;
padding: 7px, 20px, 7px, 20px;
border-radius: 40px;
border: 1px solid;
gap: 10px;
position: absolute;
left: 100px;
top: 180px;
background-color: white;
}
/* .TabButton{
    /* position: relative; 
} */
.centerButon{
    position: absolute;
    bottom: 44px;
    width: 48px;
    z-index: 1;
height: 48px;
left: 45%;
cursor: pointer;


}
.tapicons{
    width: 357px;
    position: absolute; 
    display: flex;
height: 64px;
bottom:0; 
left: 0px;
background-color:#FFFFFF;
box-shadow: 0px -10px 30px 0px #D2D2D233;

}
.iconC{
    position: absolute; 
    left: 10px;
    width: 20px;
    color: gray;
}
.icon2{
    position: absolute; 
    left: 90px;
    width: 28px;
    color: gray;
    border: 1px gray solid;
    background-color: white;
}
.iconUser{
    position: absolute; 
    right: 50px;
    width: 20 px;
    color: gray;
}
.tapicons i {
 cursor: pointer;
    margin-top: 15px;
    font-size: 25px;
}
